body{
     background-image: url(myearth.jpg);
     background-position: center;
     box-sizing: border-box;
     /* transform: translate(50px,150px); */
}
.flow{
    width: 600px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

fieldset{
    background-image: url(Sunrise.jpg);
    width:600px;
    margin: 0px -372px 0px 0px;
    padding: 5%;
    margin: 16%;
}
fieldset input{
    width: 250px;
    box-shadow:  inset 0px 0px solid rgb(77, 60, 228);
    /* margin-top: 5px; */
    transition: box-shadow 5s;
}
 fieldset footer{
    color: lavender;
    padding: 10px;
}
.hide{
    display: none;
}